{% macro video(data, span, nobuttons) %}
    <div class="video well span{{ span }}" data-ytid="{{data.ytid}}">
    <div class="inner">
      <h4 class="video-title"><a href="{{data.url}}" class="ctrl-watch">{{data.title}}</a></h4>
      <div class="video-meta row-fluid">
        <div class="thumbnail {{ nobuttons ? '' : 'span6' }}">
          <a href="{{data.url}}" class="ctrl-watch"><img src="{{data.thumbnail}}" alt="{{data.title}}"/></a>
        </div>
        {% if not nobuttons %}
        <div class="span6 video-ctrls btn-group btn-group-vertical">
          <a href="{{data.url}}" class="ctrl-watch btn btn-block">Watch</a>
          <a href="{{app.url_generator.generate("contribute", {videoId: data.ytid})}}" class="help-btn btn btn-success btn-block">Help Translate</a>
          <a href="{{data.url}}" class="btn btn-small btn-block btn-link" target="_blank">See on YouTube</a>
        </div>
        {% endif %}
      </div>
      <div class="languages">
        <h5>Languages</h5>
        <ul class="unstyled clearfix">
          {% for lang in data.languages %}
          <li class="lang-{{lang.lang_code}} label label-info">
            <a href="{{data.url}}" class="ctrl-watch" data-lang="{{lang.lang_code}}">
              <span class="lang-trans">{{lang.lang_translated}}</span> - 
              <span class="lang-orig">{{lang.lang_original}}</span>
            </a>
          </li>
          {% endfor %}
          {% if data.languages|length == 0 %}
          <li class="lang-none muted">(none)</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}

{% set columns = 2 %}

<div class="video-list">
{% for vid in videos %}
  {% if loop.index0 % columns == 0 %}
  <div class="row-fluid">
  {% endif %}
    {{ _self.video(vid, 12/columns) }}
  {% if loop.index % columns == 0 %}
  </div>
  {% endif %}
{% endfor %}
</div>